body {
    background: black;
    font-family: 'Quicksand', sans-serif;
    transition: 2s;
}

.toggle {
    position: fixed;
    transform: translate(50%, 50%);
    margin: 0;
    padding: 0;
    top: 0;
    right: 40px;
    width: 40px;
    height: 40px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

.toggle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: calc(100% - 14px);
    height: 2px;
    background: white;
    box-shadow: 0 -12px 0 #ffffff, 0 12px 0 #ffffff;
    transition-property: transform, box-shadow;
    transition: 0s, 1s;
    transition-duration: 0.5s, 0.5s;

}


.toggle.active span {
    box-shadow: 50px -12px 0 #ffffff, -50px 12px 0 #ffffff;
    transform: translate(-50%, -50%) rotate(-315deg);
    transition-property: box-shadow, transform;
    transition: 0s, 0.5s;
    transition-duration: 0.5s, 0.5s;

}

.toggle span:before {
    content: '';
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 26px;
    background: #ffffff;
    transition: 0.5s;
    transition-delay: 0.5s;

}

.toggle.active span:before {
    top: 50%;
    transition-delay: 0.5s;

}

.nav-sidebar {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 0;
    height: calc(100vh - 60px);
    padding: 0 5px;
    background: transparent;
    z-index: 1000;
    transition: all 0.8s ease-in-out;
}

.nav-sidebar ul {
    padding-top: 15px;
    overflow: hidden;
    visibility: hidden;
}

.nav-sidebar ul li {
    line-height: 60px;
    list-style: none;
}

.nav-sidebar ul li a {
    display: block;
    height: 60px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    white-space: nowrap;
    transition: all 0.5s ease-in-out;

}

.nav-sidebar ul li a:hover {
    text-decoration: underline;
}

.slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 35s infinite;
    animation-duration: 40s;
}

@keyframes slide {
    0% {
        background-image: url("../Images/carouselimage1.svg");
    }
    25% {
        background-image: url("../Images/carouselimage2.svg");
    }
    50% {
        background-image: url("../Images/carouselimage3.svg");
    }
    75% {
        background-image: url("../Images/carouselimage4.svg");
    }
    100% {
        background-image: url("../Images/carouselimage5.svg");
    }

}

.myLogo {
    position: fixed;
    width: 125px;
    top: 20px;
    left: 25px;

}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    text-align: center;
    overflow: hidden;

}

.box h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="email"], .box input[type="password"] {
    background: transparent;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid coral;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
}

.box input[type="email"]:focus, .box input[type="password"]:focus {
    width: 220px;
    display: flex;
    border-color: green;
}

.box input[type="submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-radius: 24px;
    border: 2px solid coral;
    padding: 14px 40px;
    outline: none;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: green;
    border: 2px solid green;

}

.modal-content {
    background: black;
}

.modal-body {
    background: black;
}

#closeModal {
    cursor: pointer;
    color: #067655;
    border: none;
    background: transparent;
}

.text {
    color: white;
    font-size: medium;
}

#createAcc {
    color: coral;
    background: transparent;
    border: none;
}

#createAcc:hover {
    color: coral;
    cursor: pointer;
    text-decoration: underline;
    background: transparent;
    border: none;
}

#loginExitModal {
    font-size: medium;
}

#closeModal:hover {
    font-size: medium;
    text-decoration: underline;
    background: transparent;
    border: none;
}

.modal-title, .close {
    color: white;
}

.btnbtn{
    background-color: #067655;
    color: white;
}
