{{> header}}
<div class="container">
    <div class="row">
        <div class="col-md-4 lightbox">
            <h1>Fighting Game</h1>
            <p>
                Welcome to the Fight Simulator! Fight against randomly generated enemies and fight! Defeat enemies
                to increase your Attack Damage so that you can dominate the fight!
            </p>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 lightbox">
            <h1>Fighting Game</h1>
            <form method="POST" action="/user_logging_in">
                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <input type="submit" value="Login">
                    <br><br>
                    <a href="sign_up">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</div>
{{output}}
{{welcome}}