{{> header}}
{{> nav_bar_index_b}}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 lightbox">
            {{welcome}}
            <p>
                Welcome to the Fight Simulator!
                Fight against randomly generated enemies and fight!
                Defeat enemies to increase your Attack Damage so that you can dominate the fight!
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>