<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title_page}}</title>
    </head>
    <body>
        {{> header}}
        {{> navigation_bar}}

        <h1>Character Page</h1>
        {{> back_button}}
    </body>
</html>