<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title_page}}</title>
    </head>

    <body>

        {{> header}}

        {{> navigation_bar}}

        <div>
            <h1>Official YuGiOh Website</h1>
            {{> back_button}}
        </div>

    </body>
</html>